body {
    margin: 0;
    font-family: sans-serif; 
    background-image: url(../imgs/fundo-mercurio.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
  
}

.content {
  background: rgba(10, 10, 10, 0.678);
  border-radius: 15px;
  padding: 30px;
  width: 90%;
  max-width: 650px;
  box-shadow: 0 0 15px rgba(255, 208, 0, 0.541);
}

h1 {
  font-size: 2.5em;
  color: #dcdcdc;
  margin-bottom: 10px;
}

h2 {
  font-size: 1.2em;
  color: #aaaaaa;
  margin-top: 0;
}

p {
  line-height: 1.6;
  margin: 15px 0;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

td {
  padding: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  text-align: left;
}

td:first-child {
  font-weight: bold;
  color: #cccccc;
  width: 40%;
}

a {
  display: inline-block;
  margin-top: 25px;
  padding: 10px 20px;
  background: #ffa600;
  color: black;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  background: #b3b3b3;
}