body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background-image: url(../imgs/fundo-sol.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
}
.conteudo {
    background: rgba(0, 0, 0, 0.788);
    border-radius: 15px;
    padding: 30px;
    width: 90%;
    max-width: 650px;
    box-shadow: 0 0 20px rgba(255, 217, 0, 0.801);
}

h1 {
    font-size: 2.8em;
    color: #ffd700; 
    margin-bottom: 5px;
    text-shadow: 0 0 10px rgba(255, 165, 0, 0.8);
}

h2 {
    font-size: 1.4em;
    color: #ffa500;
    margin-top: 0;
}

p {
    line-height: 1.7;
    margin: 15px 0;
    color: #e6e6e6;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

td {
    padding: 12px;
    border-bottom: 1px solid rgba(255, 215, 0, 0.2);
    text-align: left;
}

td:first-child {
    font-weight: bold;
    color: #ffa500; 
    width: 45%;
}

a {
    display: inline-block;
    margin-top: 30px;
    padding: 12px 25px;
    background: #ffcc00; 
    color: #333;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    background: #ffd700;
    transform: scale(1.05);
}

.fonte {
    font-size: 0.85em;
    color: #cccccc;
    margin-top: 20px;
    font-style: italic;
}