body{
    margin: 0;
    font-family: sans-serif; 
    background-image: url(../imgs/fundo-terra.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
}


.content {
  background: rgba(0, 0, 0, 0.603);
  border-radius: 15px;
  padding: 30px;
  width: 90%;
  max-width: 650px;
  box-shadow: 0 0 15px rgba(4, 0, 255, 0.788);
}

h1 {
  font-size: 2.5em;
  color: #9cd6ff;
  margin-bottom: 10px;
}

h2 {
  font-size: 1.2em;
  color: #cce7ff;
  margin-top: 0;
}

p {
  line-height: 1.6;
  margin: 15px 0;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

td {
  padding: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  text-align: left;
}

td:first-child {
  font-weight: bold;
  color: #9cd6ff;
  width: 40%;
}

a {
  display: inline-block;
  margin-top: 25px;
  padding: 10px 20px;
  background: #9cd6ff;
  color: black;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  background: #7bc6ff;
}