body {
    margin: 0;
    font-family: "Segoe UI", sans-serif;
    background-image: url(../imgs/fundo-urano.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
}

.content {
    background: rgba(10, 10, 10, 0.712);
    border-radius: 15px;
    padding: 30px;
    width: 90%;
    max-width: 650px;
    box-shadow: 0 0 15px rgba(0, 204, 255, 0.938);
}

h1 {
    font-size: 2.5em;
    color: #b0e8ff;
}

h2 {
    font-size: 1.2em;
    color: #d8f5ff;
}

p {
    line-height: 1.6;
    margin: 15px 0;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

td {
    padding: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    text-align: left;
}

td:first-child {
    font-weight: bold;
    color: #b0e8ff;
    width: 40%;
}

a {
    display: inline-block;
    margin-top: 25px;
    padding: 10px 20px;
    background: #b0e8ff;
    color: black;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
}