
.fundo,
.fundo2 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}
.fundo video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

body {
    font-family: Arial, sans-serif;
    color: #fff9f9; 
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 20;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.container-quiz {
    background-color: rgba(0, 0, 0, 0.719);
    padding: 30px 40px;
    border-radius: 15px;
    box-shadow: 0 0 30px rgba(25, 0, 255, 0.418);
    width: 90%;
    max-width: 600px;
}

h1 {
    font-family: "Megrim", system-ui;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    color: #ffffff;
    margin-bottom: 30px;
    border-bottom: 2px solid #1900ff;
    padding-bottom: 10px;
}


.bloco-pergunta {
    font-family: "Megrim", system-ui;
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #1100ff;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.514)
}

.texto-pergunta {
    font-family: "Megrim", system-ui;
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 1.1em;
}

label {
    display: block;
    margin: 8px 0;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 4px;
    transition: background-color 0.2s;
}

label:hover {
    background-color: #001aff;
}


.bloco-pergunta.respondida label {
    cursor: default;
}
.bloco-pergunta.respondida label:hover {
    background-color: transparent;
}


input[type="radio"] {
    margin-right: 10px;
}

.correto {
    border: 2px solid #27ae60; 
    background-color: #e6ffe6; 
    color: #1a1a1a;
}


.incorreto {
    border: 2px solid #e74c3c; 
    background-color: #ffe6e6;
    color: #1a1a1a;
}


.correto .texto-pergunta, .incorreto .texto-pergunta {
    color: #0f0f0f;
}


.mensagem-feedback {
    margin-top: 10px;
    font-weight: bold;
    padding-top: 5px;
    font-style: italic;
}

.correto .mensagem-feedback {
    color: #27ae60;
}

.incorreto .mensagem-feedback {
    color: #e74c3c;
}


#botao-limpar {
    display: block;
    width: 100%;
    padding: 12px;
    background-color: #000000bb;
    color: white;
    border: blue 2px solid;
    border-radius: 8px;
    font-size: 1.2em;
    cursor: pointer;
    margin-top: 25px;
    transition: background-color 0.3s ease;
}

#botao-limpar:hover {
    background-color: rgba(43, 0, 255, 0.329);
}