
.fundo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}
.fundo video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    color: white;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.conteudo-principal {
    background-color: rgba(0, 0, 0, 0.548); 
    padding: 40px 50px;
    border-radius: 15px;
    box-shadow: 0 0 30px rgba(0, 4, 255, 0.438); 
    width: 90%;
    max-width: 700px;
    margin: auto; 
    z-index: 1; 
    position: relative; 
}


header h1 {
    color: #0011ff;
    text-align: center;
    margin-bottom: 5px;
}

header p {
    color: #ffffff;
    text-align: center;
    margin-top: 0;
    margin-bottom: 30px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(17, 0, 255, 0.2);
}

.secao-sobre, .secao-botoes { 
    margin-bottom: 30px;
    padding: 15px 0;
}

.secao-sobre h2 {
    color: #0011ff;
    border-bottom: 1px solid rgba(4, 0, 255, 0.5);
    padding-bottom: 5px;
    margin-top: 0;
}

.secao-sobre p {
    line-height: 1.6;
    margin-bottom: 15px;
    color: #e0f7fa;
}

.secao-botoes h3 {
    text-align: center;
    color: #89cff0;
    margin-bottom: 20px;
}

.secao-botoes {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    margin-top: 30px;
}

.botao-iniciar, .botao-quiz { 
    text-decoration: none;
    padding: 15px 25px;
    border-radius: 8px;
    font-size: 1.1em;
    font-weight: bold;
    text-align: center;
    transition: background-color 0.3s, transform 0.2s;
    width: 45%;
}

.botao-iniciar {
    background-color: #000000;
    color: white;
    border: rgb(0, 0, 255) 2px solid;
}
.botao-iniciar:hover {
    background-color: #1900ff;
    transform: translateY(-2px);
}

footer {
    text-align: center;
    margin-top: 40px;
    padding-top: 15px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    font-size: 0.9em;
    color: #ffffff;
}